.menu-btn{
    position: absolute;
    z-index: 1;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    padding: 1rem;
    @include transition-ease;

    //all three lines of hamburger have same properties
    &__hamburger,
    &__hamburger::before,
    &__hamburger::after{
        position: absolute;
        right: 0;
        height: 3px;
        background: set-text-color($primary-color);
        @include transition-ease;
    }

    &__hamburger{
        top: .5rem;
        width: 25px;

        &::before,
        &::after{
            content: '';
        }

        &::before{
            top: -8px;
            width: 28px;
        }

        &::after{
            top: 8px;
            width: 22px;
        }

        &.open {
            transform: rotate(360deg);
            background: transparent; 
            &::before{
                transform: rotate(45deg) translate(5px, 8px);
            }
            &::after{
                width: 28px; 
                transform: rotate(-45deg) translate(3px, -7px);
            }
        }
    }
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: .9;
    visibility: hidden;

    &.open{
        visibility: visible;
    }

    .menu-nav{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        background: $primary-color;
        list-style: none;
        transform: translateY(-100%);
        @include transition-ease;

        &.open{
            transform: translateY(0);
        }

        &__item{ 
            margin: 1em 0;
            font-size: 2rem;          
            transform:translateX(100vw);
            @include transition-ease;

            &.open{
                transform: translateX(0);
            }
            
            .active{
                color: $secondary-color;
            }
        }

        &__link{
            text-transform: uppercase;
            font-weight: $font-regular;
            @include transition-ease;

            &:hover{
                color: $secondary-color;
            }
        }
    }

}

@for $i from 1 through 4 {
    .menu-nav__item:nth-child(#{$i}){
        transition-delay: ($i *0.1s) + 0.15s;
    }
}