@include media-md{
    .menu-btn{
        visibility: hidden;
    }

    .nav{
        visibility: visible;

        .menu-nav{
            display: block;
            transform: translateY(0);
            background-color: transparent;
            height: 100%;
            text-align: right;

            &__item{
                display: inline;
                padding-right: 1.5rem;
            }

            &__link{
                font-size: $fs-h4;
            }
        }
    }

    .products__list{
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-items{
        grid-template-columns: repeat(2, 1fr);
    }
}

@include media-lg{
    .products__list{
        grid-template-columns: repeat(3, 1fr);
    }
    .about_container{
        grid-template-columns: repeat(2, 1fr);
    }

    .contact{
        &-items{
            grid-template-columns: repeat(3, 1fr);
        }
        .social-icons{
            margin-top: 2rem;
        }
    }

}


@include media-xl{
    .products__list{
        grid-template-columns: repeat(4, 1fr);
    }
}